<head>
    <title>Recipe Maker</title>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="scripts.js"></script>
</head>


<div class="modifyRecipe container" id="recipeEdit">
    <div id="backButton">
        <a class="btn btn-outline-danger" href="/">Back</a>
    </div>
    <h2>Create New Recipe</h2>
    <div class="flashes">
        <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
        <div class="flash success">
          <%= flashMessages.success %>
        </div>
        <% } else if (flashMessages.error) { %>
        <div class="flash error">
          <%= flashMessages.error %>
        </div>
        <% } %>
        <% } %>
      </div>
    <form action="/recipes/addrecipe" method="POST">
        <div class="container justify-content-center">
            <div class="container justify-content-center formSection" id="editableIngredientList">
                <div class="row" >
                    <span class="col-3 listItemTitle">Recipe Name:</span>
                    <input class="col-9" placeholder="New Recipe" type=text>
                </div>
            </div>
                <div class="container justify-content-center formSection" id="editableIngredientList">
                    <h5>Main Ingredients:</h5>
                    <div id="listTitles" class="row">
                        <div class="col">
                            <h5>Ingredient</h5>
                        </div>
                        <div class="col">
                            <h5>Amount</h5>
                        </div>
                        <div class="col">
                            <h5>Actions</h5>
                        </div>
                    </div>
                    <hr>
                        <div class="row editableIngredientListItem" id="mainListItem0">
                            <div class="col">
                                <input type="text" name="title" placeholder="New Ingredient">
                            </div>
                            <div class="col">
                                <input type="number" name="amount" placeholder="Amt.">
                                <select name="measurement" placeholder="Measurement">
                                    <option value="" disabled selected>Measurement</option>
                                    <option value="teaspoon">Teaspoons</option>
                                    <option value="tablespoons">Tablespoons</option>
                                    <option value="bars">Bars</option>
                                    <option value="pounds">Pounds</option>
                                    <option value="ounces">Ounces</option>
                                </select>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-warning" onclick="$(mainListItem0).remove()"><img width=25% src="/icons/delete.png"></button>
                                <button type="button" class="btn btn-warning" onclick="duplicateRow('main','0')"><img width=25% src="/icons/duplicate.png"></button>
                            </div>
                            <hr>
                        </div>
                    <span id="mainEnd"></span>
                    <div class="row addIngredientBtn">
                        <button type="button" class="col btn btn-primary" align="center" onclick="addRow('main')">Add Main Ingredient</button>
                    </div>
                </div>
                <div row formSection>
                    <div class=col></div>
                    <div class=col>
                        Add Blend?
                    </div>
                    <label for=hasBlend class="col switch">
                        <input type="checkbox" name=hasBlend id=hasBlend>
                        <span class="slider round"></span>
                    </label>
                      <div class=col></div>
                </div>
            <div id="blendSection" hidden>


                <div class="container justify-content-center formSection" id="editableIngredientList">
                    <h5>Blend Ingredients</h5>
                    <div id="listTitles" class="row">
                        <div class="col">
                            <h5>Ingredient</h5>
                        </div>
                        <div class="col">
                            <h5>Amount</h5>
                        </div>
                        <div class="col">
                            <h5>Actions</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row editableIngredientListItem" id="blendListItem0">
                        <div class="col">
                            <input type="text" name="title" placeholder="New Ingredient">
                        </div>
                        <div class="col">
                            <input type="number" name="amount" placeholder="Amt.">
                            <select name="measurement" placeholder="Measurement">
                                <option value="" disabled selected>Measurement</option>
                                <option value="teaspoon">Teaspoons</option>
                                <option value="tablespoons">Tablespoons</option>
                                <option value="bars">Bars</option>
                                <option value="pounds">Pounds</option>
                                <option value="ounces">Ounces</option>
                            </select>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning" onclick="$(blendListItem0).remove()"><img width=25% src="/icons/delete.png"></button>
                            <button type="button" class="btn btn-warning" onclick="duplicateRow('blend','0')"><img width=25% src="/icons/duplicate.png"></button>
                        </div>
                        <hr>
                    </div>
        
                    <span id="blendEnd"></span>
                    <div class="row addIngredientBtn">
                        <button type="button" class="col btn btn-primary" align="center" onclick="addRow('blend')">Add Blend Ingredient</button>
                    </div>
                </div>
            </div>
        </div>

            <!-- Form Submit -->
        <button class="row btn btn-success" type="submit">Create Recipe</button>
    </form>
    <script src="scripts.js"></script>
    <script>
    let newMainCount = 0;
    let newBlendCount = 0; 
    let addRow = (ingredientType) => {
        let newRow = document.createElement("div")
        newRow.classList.add("row","editableIngredientListItem");
        let newIngredientHTML = `
        <div class="row editableIngredientListItem" id="${(ingredientType === "main") ? "main" : "blend"}listItem${(ingredientType === "main") ? newMainCount : newBlendCount}">
        <div class="col">
            <input type="text" name="title" placeholder="New Ingredient">
        </div>
        <div class="col">
            <input type="number" name="amount" placeholder="Amt.">
            <select name="measurement" placeholder="Measurement">
                <option value="" disabled selected>Measurement</option>
                <option value="teaspoon">Teaspoons</option>
                <option value="tablespoons">Tablespoons</option>
                <option value="bars">Bars</option>
                <option value="pounds">Pounds</option>
                <option value="ounces">Ounces</option>
            </select>
        </div>
        <div class="col">
            <button type="button" class="btn btn-warning" onclick="$(${(ingredientType === "main") ? "main" : "blend"}listItem${(ingredientType === "main") ? newMainCount : newBlendCount}).remove()"><img width=30% src="/icons/delete.png"></button>
            <button type="button" class="btn btn-warning" onclick="duplicateRow('"${(ingredientType === "main") ? "main" : "blend"}, '${(ingredientType === "main") ? "main" : "blend"}listItem${(ingredientType === "main") ? newMainCount : newBlendCount}.name')"><img width=30% src="/icons/duplicate.png"></button>
        </div>
        <hr>
    </div>
        `
        $(newRow).append(newIngredientHTML);
        if (ingredientType === "main") {
            newMainCount++;
            $("#mainEnd").before(newRow);
        } else if (ingredientType === "blend") {
            newBlendCount++
            $("#blendEnd").before(newRow);
        } else console.log("invalid argument passed into addrow()")
    }     
    let duplicateRow = (ingredientType, rowId) => {
        if (ingredientType === "main") {
            newMainCount++;
            let element = $(`#mainListItem${rowId}`).clone().prop('id', `mainListItem${newMainCount}`);
            $("#mainEnd").before(element);
        } else {
            newBlendCount++;
            let element = $(`#blandListItem${rowId}`).clone().prop('id', `blendListItem${newMainCount}`);
            $("#blendEnd").before(element);
        }
    }

    $('input[type=checkbox]').change(
        function(){
            if (this.checked) {
                console.log("hi")
                $('#blendSection').removeAttr('hidden')
            } else {
                $('#blendSection').attr("hidden",true)
            }
        });
        </script>
</div>